# Compiled Java class files
*.class

# Log files
*.log

# Package Files (Αγνοεί τα jar, αλλά ΚΡΑΤΑΕΙ τα jars στο φάκελο lib)
*.jar
!lib/*.jar
*.war
*.ear

# Virtual machine logs
hs_err_pid*

# IDE & Editor files
.idea/
.vscode/
*.iml
bin/
build/
target/

# Database files
*.db